header {
  height: 40px;
  display: flex;
  margin-bottom: 15px;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: white;
}

header div:nth-child(1) {
  flex-grow: 2;
}

header div:nth-child(2) {
  flex-grow: 8;
}

header div:nth-child(3) {
  flex-grow: 2;
}

header div:nth-child(4) {
  flex-grow: 2;
}

.vinted-logo {
  display: flex;
  width: 100px;
}

.input-search {
  display: flex;
  border: none;
  background-color: whitesmoke;
  border-radius: 5px;
  width: 80%;
  height: 40px;
  padding-left: 60px;
}

.btn-login {
  border: solid 2px;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 5px;
  width: 110px;
  border-radius: 5px;
  justify-content: center;
}

.btn-signup {
  border: solid 2px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 110px;
  border-radius: 5px;
}

.btn-logout {
  border: none;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 110px;
  border-radius: 5px;
  background-color: rgb(190, 18, 91);
  color: white;
}

.btn-publish {
  border: none;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 110px;
  border-radius: 5px;
  color: white;
  background-color: rgb(45, 177, 185);
}
