h1 {
  font-size: 20px;
  margin: 20px;
}

.form_login {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  width: 400px;
  align-items: center;
}

form > input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 3px LightGray;
  margin: 10px;
  height: 40px;
  font-size: 16px;
}

.btn-connect {
  background-color: rgb(45, 177, 185);
  color: aliceblue;
  border-radius: 2px;
  border: none;
  height: 40px;
}
