.card-payment {
  background-color: white;
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

form input {
  font-size: 16px;
}

form > button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  background-color: rgb(40, 194, 14);
  border: none;
  border-radius: 3px;
  color: white;
  height: 40px;
  width: 80%;
  margin: 0 auto;
  font-size: 16px;
}

.row {
  display: flex;
  flex-direction: row;
  height: 15px;
  margin: 5px;
  margin-left: 15px;
}

.col-price {
  display: flex;
  flex: 1;
  width: 30%;
}

.col-description {
  width: 70%;
}

.card-payment span {
  margin-top: 40px;
  margin-bottom: 40px;
}

.card-payment p {
  border-bottom: solid 1px lightgrey;
  margin: 10px;
}

.payment {
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: solid 1px lightgrey;
}

strong {
  font-weight: bold;
}
